<launch>

	<arg name="bagfile" />
	<arg name="rovio" default="true" />
    <arg name="loam" default="true" />
    <arg name="rviz" default="false" />
    <arg name="rate" default="1.0" />

    <arg name="new_bag" default="" />

    <param name="use_sim_time" value="true" />

	<node pkg="rosbag" type="play" name="rosbag_player" args="--clock -r $(arg rate) $(arg bagfile)" >
        <remap from="/lidar/carla" to="/velodyne_points" />
	</node>

	<node pkg="carla_tools" type="carla_frame_transforms.py" name="carla_frame_transforms" output="screen">
        <remap from="~imu/carla" to="/imu0/carla" />
        <remap from="~lidar/carla" to="/lidar/carla" />

        <remap from="~imu/loam" to="/imu0/loam" />
        <remap from="~imu/rovio" to="/imu0/rovio" />
        <remap from="~imu/ros" to="/imu0/ros" />
        <remap from="~lidar/loam" to="/lidar/loam" />
        <!--remap from="~lidar/carla" to="/velodyne_points" /-->
	</node>


    <include file="$(find vil_fusion)/launch/vil_fusion.launch">
        <arg name="rovio" value="$(arg rovio)" />
        <arg name="loam" value="$(arg loam)" />
        <arg name="rviz" value="$(arg rviz)" />
    </include>

    <node if="$(eval arg('new_bag') != '')" pkg="rosbag" type="record" name="rovio_rosbag_record" args="

    record -O $(arg new_bag)
    /cam0/camera_info
    /cam0/image_raw
    /imu0
    /simulation_groundtruth
    " >
        <remap from="/imu0" to="/imu/ros" />
        <remap from="/cam0/image_raw" to="/cam0/image_mono" />
    </node>

</launch>