<launch>

    <arg name="rovio" default="true" />
    <arg name="loam" default="true" />
    <arg name="rviz" default="false" />
    <arg name="do_fusion" default="true" />

    <rosparam>
        rovio/world_frame: rovio_world
        rovio/camera_frame: rovio_camera
        rovio/imu_frame: rovio_imu
    </rosparam>

    <node pkg="vil_fusion" type="imu_filter.py" name="imu_filter" output="screen">
        <param name="~filter_length" value="10" />
    </node>

    <group if="$(arg rovio)" >
        <node pkg="image_proc" type="image_proc" name="image_proc" ns="/cam0">
        </node>

        <remap from="cam0/image_raw" to="cam0/image_mono" />
        <remap from="cam1/image_raw" to="cam1/image_mono" />
        <remap from="imu0" to="imu/vio" />
        <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
            <param name="filter_config" value="$(find vil_fusion)/cfg/rovio.info"/>
            <param name="camera0_config" value="$(find vil_fusion)/cfg/carla.yaml"/>
            <param name="camera1_config" value="$(find vil_fusion)/cfg/carla.yaml"/>
        </node>
    </group>

    <group if="$(arg loam)" ns="loam">
        <remap from="/imu/data" to="/imu/lidar" />
        <!-- For some reason, this remap does not work. I instead remapped from the rosbag player. -->
        <!-- <remap from="/velodyne_points" to="/lidar" /> -->
        <include file="$(find loam_velodyne)/launch/loam_velodyne.launch">
            <arg name="rviz" value="$(arg rviz)" />
        </include>

        <node pkg="vil_fusion" type="loam_frame_transform.py" name="frame_transform" output="screen">
            <remap from="~odometry/loam" to="/aft_mapped_to_init" />
        </node>
    </group>

    <node pkg="vil_fusion" type="degeneracy_detection.py" name="degeneracy_detection_node" output="screen">
        <remap from="~rovio_input" to="/rovio/odometry" />
        <!-- <remap from="~loam_input" to="/aft_mapped_to_init" /> -->
        <remap from="~loam_input" to="/loam/frame_transform/odometry/ros" />
        <rosparam>
            loam_degen_funcs: [demo1]
            rovio_degen_funcs: [demo2]
        </rosparam>
    </node>

    <group>
        <node pkg="vil_fusion" type="ground_truth_pose.py" name="ground_truth_pose" output="screen">

        </node>
    </group>

    <group if="$(arg do_fusion)">
        <node pkg="smb_confusor" type="smb_confusor" name="smb_confusor" output="screen">
            <rosparam param="config_path" subst_value="true">
                $(find vil_fusion)/cfg/confusion.cfg
            </rosparam>
        </node>
    </group>

</launch>